# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/KlassWorkStep07.07.2021/KlassWorkStep07.07.2021/Debug
/KlassWorkStep07.07.2021/Debug
/KlassWorkStep07.07.2021/.vs/KlassWorkStep07.07.2021/v16
